<section class="formation-wrapper fade-in">

    <h2 class="fade-slide">
        {{ 'formation.title' | translate }}
    </h2>

    <p class="formation-intro fade-in" style="animation-delay: .15s;">
        {{ 'formation.intro' | translate }}
    </p>

    <!-- Formación reglada -->
    <section class="formation-block fade-in" style="animation-delay: .25s;">
        <h3 class="fade-slide" style="animation-delay: .3s;">
            {{ 'formation.formalTitle' | translate }}
        </h3>

        <!-- Grado -->
        <article class="education-card fade-in" style="animation-delay: .35s;">
            <div class="education-header">
                <span class="education-date">
                    {{ 'formation.degree.date' | translate }}
                </span>
                <h4>{{ 'formation.degree.title' | translate }}</h4>
            </div>

            <p class="education-center">
                {{ 'formation.degree.center' | translate }}
            </p>
            <p class="education-location">
                {{ 'formation.degree.location' | translate }}
            </p>

            <p class="education-description">
                {{ 'formation.degree.desc' | translate }}
            </p>

            <ul class="education-details">
                <li>{{ 'formation.degree.d1' | translate }}</li>
                <li>{{ 'formation.degree.d2' | translate }}</li>
                <li>{{ 'formation.degree.d3' | translate }}</li>
            </ul>
        </article>

        <!-- CFGS -->
        <article class="education-card fade-in" style="animation-delay: .45s;">
            <div class="education-header">
                <span class="education-date">
                    {{ 'formation.cfgs.date' | translate }}
                </span>
                <h4>{{ 'formation.cfgs.title' | translate }}</h4>
            </div>

            <p class="education-center">
                {{ 'formation.cfgs.center' | translate }}
            </p>
            <p class="education-location">
                {{ 'formation.cfgs.location' | translate }}
            </p>

            <p class="education-description">
                {{ 'formation.cfgs.desc' | translate }}
            </p>

            <ul class="education-details">
                <li>{{ 'formation.cfgs.d1' | translate }}</li>
                <li>{{ 'formation.cfgs.d2' | translate }}</li>
                <li>{{ 'formation.cfgs.d3' | translate }}</li>
            </ul>
        </article>

        <!-- Certificados -->
        <div class="cert-link-box fade-in" style="animation-delay: .55s;">
            <p>{{ 'formation.certText' | translate }}</p>

            <button class="cert-link" routerLink="/titles">
                {{ 'formation.certBtn' | translate }}
            </button>
        </div>
    </section>

    <!-- Cursos -->
    <section class="formation-block fade-in" style="animation-delay: .35s;">
        <h3 class="fade-slide" style="animation-delay: .4s;">
            {{ 'formation.coursesTitle' | translate }}
        </h3>

        <div class="courses-grid">

            <article class="course-card fade-in">
                <h4>{{ 'formation.courses.ccna.title' | translate }}</h4>
                <p class="course-meta">{{ 'formation.courses.ccna.meta' | translate }}</p>
                <p class="course-description">
                    {{ 'formation.courses.ccna.desc' | translate }}
                </p>
            </article>

            <article class="course-card fade-in">
                <h4>{{ 'formation.courses.erasmus.title' | translate }}</h4>
                <p class="course-meta">{{ 'formation.courses.erasmus.meta' | translate }}</p>
                <p class="course-description">
                    {{ 'formation.courses.erasmus.desc' | translate }}
                </p>
            </article>

            <article class="course-card fade-in">
                <h4>{{ 'formation.courses.angular.title' | translate }}</h4>
                <p class="course-meta">{{ 'formation.courses.angular.meta' | translate }}</p>
                <p class="course-description">
                    {{ 'formation.courses.angular.desc' | translate }}
                </p>
            </article>

            <article class="course-card fade-in">
                <h4>{{ 'formation.courses.gis.title' | translate }}</h4>
                <p class="course-meta">{{ 'formation.courses.gis.meta' | translate }}</p>
                <p class="course-description">
                    {{ 'formation.courses.gis.desc' | translate }}
                </p>
            </article>

            <article class="course-card fade-in">
                <h4>{{ 'formation.courses.git.title' | translate }}</h4>
                <p class="course-meta">{{ 'formation.courses.git.meta' | translate }}</p>
                <p class="course-description">
                    {{ 'formation.courses.git.desc' | translate }}
                </p>
            </article>

            <article class="course-card fade-in">
                <h4>{{ 'formation.courses.aws.title' | translate }}</h4>
                <p class="course-meta">{{ 'formation.courses.aws.meta' | translate }}</p>
                <p class="course-description">
                    {{ 'formation.courses.aws.desc' | translate }}
                </p>
            </article>

        </div>
    </section>

</section>